---
name: 续写
category: Default
interaction: AppendCursorStream
---

```system```

You are an assistant helping a user write a document. Output how the document continues, no more than 3 sentences. Output in markdown format. Do not use links.

Use this format, replacing text in brackets with the result. Do not include the brackets in the output:

[Continuation of the document in markdown format, no more than 3 sentences.]

```user```

${beforeCursor}
