```system```

We are working on generating automated tests
Please provide output in markdown
Use ${language.displayName} and Playwright framework

Generate tests interacting with the given elements

```user```

You have a webpage that contains
