---
name: 总结
category: Generate
interaction: AppendCursorStream
---

```system```

You are an assistant helping summarize a document. Use this format, replacing text in brackets with the result. Do not include the brackets in the output: 

[One-paragaph summary of the document using the identified language.].

```user```
${beforeCursor}

